@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* css de la página inicio.html */ 

body { 
    background-color: rgb(255, 255, 255);
    margin:0;

}

header{
    display:flex;
    justify-content: space-between;
    min-height: 155px;
    background-color: rgb(169, 136, 150);
    padding: 10px;
    font-family: "Mulish", sans-serif;
    align-items: center;
   
 
}


ul, ol {
    font-family: "Mulish", sans-serif;
    align-items: center; 
    margin-left: 10px;
}

.navlink{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

nav a{ font-weight: 600;
        padding: 10px; 
        
}

nav a:hover{
background-color: rgb(215, 108, 151);
}

/* Intenté hacerlo responsive el header pero no salió como quería... */
@media (max-widht:700px){
    header{ 
        flex-direction: column;
    }

    nav {
        padding: 10px, 0px;
    }
}


.mifoto{ display: flex; 
    align-items: center;
    
}

.mifoto img{
    height: 150px;
    border-radius: 80px;
    margin-right: 15px; 

}


.myname{ 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: weight;
    font-size: 35px;
    margin-left: 10px;
    color:white;
   

}

.container_fotos {
    display:flex; 
    justify-content: center;
    /* animaciones */ 
    animation-name: fade-up;
    animation-duration: 2.5s;
}

@keyframes fade-up{
    0% { 
        opacity: 0;
        transform: trasnlateY(30px) scale (0.9);
}

100% { 
    opacity:1;
    transform: trasnlateY(0px) scale (1);
}
}


.fototrabajo {
    height: 100px;
    width: 200px;
    margin-left: 100px ;
    /* transicion */
    opacity: 1;
    transition: 0.5 ease; 
    
}


.memento {
    margin-left: 80px;
}
.fototrabajo2 {
    height: 100px;
    width: 300px;
    margin-left: 120px;
    /* transicion */
    opacity: 1;
    transition: 0.5 ease; 
}


.fototrabajo:hover  {
    opacity: 0.5;
}

.fototrabajo2:hover  {
    opacity: 0.5;
}

.pie {
    font-family: "Mulish", sans-serif;
    align-items: center; 
    margin-left: 10px;
    
}

 h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
   text-align: center;
   padding-top: 20px;
    justify-content: space-between;

}

h3:hover 
{
    font-size: 2rem;
}


.fotocompu{

   width: 300px; 
    height:300px; 
    margin-right: 200px;
    
}


.container_sobremi p {
    margin-right: 200px;
    margin-left: 100px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
   text-align: center;
   padding: 20px; 
    /* From https://css.glass */
    background: rgba(27, 38, 20, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.6px);
    -webkit-backdrop-filter: blur(16.6px);
    border: 1px solid rgba(255, 255, 255, 0.5);   
     /* animaciones */ 
    animation-name: fade-up2;
    animation-duration: 4s;
}

@keyframes fade-up2{
    0% { 
        opacity: 0;
        transform: trasnlateY(90px) scale (0.9);
}

100% { 
    opacity:1;
    transform: trasnlateY(0px) scale (3);
}

}


.container_sobremi {
    display: flex; 
}

.seccionsobremi {
    background-color: rgb(212, 168, 205);
}




.container_habilidades {
    display:flex; 
    justify-content: center;
    
}


.fotoraw {

        height: 600px;
        width: 300px;
        margin-right: 200 ;
}


.fotomementoweb {

    height: 600px;
    width: 300px;
    margin-left: 200px
    
}


.secciontrabajosrealizados {
    background-color: white;
}


/* CSS de la página contacto de aquí para abajo */ 

.listcontact {
    font-size:20px;
    margin-left: 200px;
    padding-bottom: 40px;
}

.mailto {
    text-decoration: none;
    color: rgb(169, 136, 150);
}

.containercontact {
    display: flex;
    justify-content:space-between;
    padding-top: 40px;
    
    
    
}



.imagencontacto {
    margin-right: 200px;
    width: 300px;
    height: 300px;
    padding-bottom: 100px;
    
  
}

/* FORMULARIO */ 

.form {
    width: 400px;
    background-color:rgb(169, 136, 150) ;
    padding: 30px; 
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "Mulish", sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form h4 {
    font-size: 20px;
    margin-bottom: 20px;


}
.controls {
   width: 90%;
   background-color:white ;
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 15px;
   border: 1px solid;
   font-size: 18px;
   font-family: "Mulish", sans-serif;
}
.form p {
    height: 30px;
    text-align: center;
    font-size: 13px;
    line-height: 40px;
}

.form a {
    color: white;
    
}
.form .botonform {
    width: 90%;
    background-color:rgb(215, 108, 151);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    border-radius: 10px;
    font-size: 15px;
    font-family:"Mulish", sans-serif;
}

.botonform:hover {

    color:rgb(122, 74, 101);
    font-size: 1.5rem;
}
.fondito {
    background-color:rgb(181, 144, 158) ;
    padding-bottom: 30px;
}

/* Estilo al pie de pagina */

.piedepagina {
    width: 100%;
    text-align: center;
    background-color: rgb(212, 168, 205);
   

}


/* No me queda muy claro el tema de la espcificidad, hay veces que siento que lo usé bien, pero otras que no, 
por ejemplo: cuando hay un div dentro de otro div como este caso. (me ayude con un tutorial, vi que ponia todas las class asi y me parecio mas limpio jeje) */

 .grupo1 .box .redsocial {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.grupo1 .box h2 {
    font-family: "Mulish", sans-serif; 
    font-size: 17px;
}


.grupo1 .box .redsocial a {
    display: inline-block;
    text-decoration: none;
    width: 55px;
    height: 55px;
    color: black;
    margin-right: 10px;
    transition: all 300ms ease;

}

.grupo1 .box .redsocial a:hover {
    color:white
}


.grupo2 small{
    margin-bottom: 15px;
    font-family: "Mulish", sans-serif;
}


/* Tuve un lio inmenso con el footer de la pagina de contacto.html, no se porque no me quería coger el class inicial... 
tuve que hacer un class distinto y tampoco lo quiso reconocer... esto ¿es normal?  en el header copie y pegue tal cual los estilos y el html y no me paso esto*/
